body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	color:#333;
	background-color: #fafafa;
}

a {
	color: #1E5799;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #2382B2;
}

.landing-page {
	margin:150px 150px 150px 150px;
}

.bold {
	font-weight: bold;
}